body {
  background-color:#276678;
  text-align: center;
  font-family:"Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  color:#276678;
}

img{
  height:140px;
  border-radius: 20px;
  border-color:#276678;
  border:inline;
  border-width:10px;
}

h1 {
  color: #d3e0ea;
  margin: 0 auto 0 auto;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size:80px;
}

h2 {
  color: #1687a7;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

h4{
  color: grey;
  margin: 0 auto 0 auto;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 50px;
  border-color:#d3e0ea;
  position:static;
}


.Introduction {
  text-align:center;
  color: #d3e0ea;
  padding: 100px 0 50px 0;
  height: 200px;
  width:100%;
  border-radius: 20px;
  margin-bottom:30px;

}


.profile {
  padding:30px;
  background-color: #d3e0ea;
  border-radius:20px;
  margin-top:30px;
  margin-bottom:30px;
  height:250px;
}

.Content {
  padding:5px;
  background-color: #d3e0ea;
  border-radius:20px;
  margin-top:30px;
  margin-bottom:30px;
}

.Contact{
  padding:30px;
  background-color: #d3e0ea;
  border-radius:20px;
  margin-top:30px;
  margin-bottom:30px;
  height:250px;
}
.Bottom{
  color:#d3e0ea;
}
